.gallery {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(284px, 1fr) );
  gap: 16px;
  padding: 0 48px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .gallery {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    gap: 16px;
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    gap: 16px;
    padding: 0 16px 0;
  }
}
