.place__url-label {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 12px;
  color: #aaa;
  letter-spacing: 2px;
}
