.intro {
  max-width: 690px;
  width: 100vw;
  justify-self: left;
  display: flex;
  flex-direction: column;
  padding-left: 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 0 16px 0;
  }
}
