.cover__text {
  display: block;
  max-width: 360px;
  margin: 32px 0 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  text-align: center;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .cover__text {
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    max-width: 288px;
  }
}
