.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: inherit;
  transition: opacity 1s linear;
}



.place__link:hover {
  opacity: .8;
}
